@use '../../utilities' as *;

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 100%;
  border: 0;
  border-radius: 20px;
  box-shadow: $primary-box-shadow;
  background-color: $btn-bcg;
  font-family: $primary-font;
  font-size: $font-m;
  font-weight: bold;
  color: #100f0f;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $text-color-ochre;
    border-radius: 15px;
    transition: all 0.5s ease-out;
  }

  span::first-letter {
    font-size: 1.9rem;
  }
}

.hero-btn {
  padding: 8px 0 13px 0;
}

.contact-btn {
  align-self: center;
  padding: 8px 60px 13px 60px;
  margin: 50px 0;
}

@media screen and (min-width: 992px) {
  button {
    width: 50%;
  }

  .hero-btn {
    align-self: flex-end;
  }
}
