/* @use '../../_utilities'; */

.hero-container {
  height: calc(100vh - 120px);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  max-width: 1400px;
  margin: auto;

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;

    h1 {
      font-size: 2.6rem;
      font-family: 'Bruno Ace', sans-serif;
      line-height: 1.4;
      background: linear-gradient(#dde4dc, #767474);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      span {
        display: block;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;
      width: 100%;
      border: 0;
      border-radius: 20px;
      box-shadow: 0 2px 10px rgba(43, 42, 42, 0.5);
      padding: 8px 0 13px 0;
      background-color: #a57419;
      font-family: 'Gruppo', sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #100f0f;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: #c0871d;
        border-radius: 15px;
        transition: all 0.5s ease-out;
      }

      span::first-letter {
        font-size: 1.9rem;
      }
    }
  }

  .hero-avatar {
    .avatar-container {
      width: 240px;
      border: 1px solid rgba(221, 228, 220, 0.7);
      border-radius: 50%;
      animation: rotateAvatar 3s cubic-bezier(0.25, 0.1, 0.25, 1.5);

      img {
        margin-bottom: -14px;
      }
    }
  }
}

@keyframes rotateAvatar {
  /* 0% {
    transform: rotateY(0deg) rotateX(0deg);
  } */

  50% {
    transform: rotateZ(220deg) rotateX(180deg);
  }

  /*  100% {
    transform: rotateY(360deg) rotateX(360deg);
  } */
}

/* extra small mobiles */
/*  or very short apply here? */
@media screen and (max-width: 375px) {
  .hero-container {
    padding-bottom: 10px;
    gap: 30px;

    .hero-text {
      gap: 40px;
    }
  }
}

@media screen and (min-width: 576px) {
  .hero-container {
    .hero-text {
      h1 {
        font-size: 3.8rem;
        letter-spacing: 2px;
        line-height: 1.2;
      }
    }

    .hero-avatar {
      .avatar-container {
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .hero-container {
    height: calc(100vh - 120px);
    padding: 70px 100px;
    flex-direction: row;
    justify-content: space-around;

    .hero-text {
      h1 {
        font-size: 5rem;
      }

      button {
        align-self: flex-end;
        width: 50%;
      }
    }

    .hero-avatar {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-height: 550px) {
  .hero-container {
    height: auto;
    padding: 30px 0;
  }
}
