.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
  max-width: 1200px;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 200;

  h2 {
    /* mix-in for H3*/
    font-family: 'Gruppo', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 200;
    background: linear-gradient(#dde4dc, #a6a4a4);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    /* add margin top/bottom to all H3 as variable ?  */
    margin-bottom: 100px;
  }

  .about-content {
    max-width: 335px;
    margin: auto;
    padding: 0 1rem;

    h4 {
      font-family: 'Gruppo', sans-serif;
      font-size: 2rem;
      font-weight: 400;
      background: linear-gradient(#dde4dc, #a6a4a4);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::first-letter {
        font-size: 2.3rem;
      }
    }

    p {
      font-size: 1rem;
      /*  font-weight: 200; */
      line-height: 1.7;
    }

    .icons-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      width: 100%;
      /*  width: 400px; */
      margin: 50px 0;

      img {
        width: 45px;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .about-container {
    .about-content {
      max-width: 1200px;
      padding: 0 3rem;

      .icons-container {
        justify-content: center;
        gap: 2rem;

        img {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .about-container {
    .about-content {
      .icons-container {
        gap: 5rem;

        img {
          width: 80px;
        }
      }
    }
  }
}
