.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* width: 930px; */
  margin: 50px auto;
  max-width: 1200px;
  font-family: 'Gruppo', sans-serif;

  h2 {
    /* font-family other - the thin one?? */
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 200;
    background: linear-gradient(#dde4dc, #a6a4a4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*  width: 50%; */
    width: 80%;
    margin: 10px auto;
    max-width: 600px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      input,
      textarea {
        font-family: 'Lexend Tera', sans-serif;
        font-size: 0.9rem;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        outline: 0;
        /* color should fit the variable */
        background-color: rgba(221, 228, 220, 0.7);
        /* variable - button ! */
        color: #100f0f;
        box-shadow: 0 2px 10px rgba(43, 42, 42, 0.5);
      }

      input {
        line-height: 2.3;
      }

      textarea {
        resize: none;
      }
    }
  }

  .scroll-up {
    align-self: flex-end;
    /* margin-right: 2.5rem; */
    margin-top: 30px;

    .arrow-up {
      font-size: 80px;
      color: rgba(221, 228, 220, 0.7);
      border-radius: 50%;
      transition: all 0.4s ease;
      cursor: pointer;

      &:hover,
      &:active {
        transform: scale(1.05);
        background-color: #a57419;
        color: #dde4dc;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .contact-container {
    form {
      width: 50%;
    }
  }
}
