@use '../../utilities' as *;

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: $section-margin;
  max-width: 1200px;
  font-family: $primary-font;

  h2 {
    @extend .section-heading;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    margin: 10px auto;
    max-width: 600px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      input,
      textarea {
        font-family: $secondary-font;
        font-size: 0.9rem;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        outline: 0;
        /* bcg-color should fit the $primary-border variable */
        background-color: rgba(221, 228, 220, 0.7);
        color: #100f0f;
        box-shadow: $primary-box-shadow;
      }

      input {
        line-height: 2.3;
      }

      textarea {
        resize: none;
      }
    }
  }

  .scroll-up {
    align-self: flex-end;
    margin-top: 30px;

    .arrow-up {
      font-size: 80px;
      color: rgba(221, 228, 220, 0.7);
      border-radius: 50%;
      transition: all 0.4s ease;
      cursor: pointer;

      &:hover,
      &:active {
        transform: scale(1.05);
        background-color: #a57419;
        color: $text-color-white;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .contact-container {
    form {
      width: 50%;
    }
  }
}
