@use '../../utilities' as *;

header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  line-height: 1;

  header.invisible {
    display: none;
  }

  .logo {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: $font-m;
    @include gradientTextColor($text-color-white, #a6a4a4);

    span::first-letter {
      font-size: $font-l;
    }
  }

  .desktop-menu {
    display: none;
  }

  .hamburger.active {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  header {
    .mobile-menu {
      display: none;
    }

    .desktop-menu {
      display: block;
      border: $primary-border;
      border-top-left-radius: 12px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 3px;
      padding: 2px 35px 5px 35px;

      ul {
        display: flex;
        gap: 2rem;
        font-size: 1.2rem;

        li::first-letter {
          font-size: $font-m;
        }

        a:hover {
          @include gradientTextColor($text-color-white, #b6b4b4);
          cursor: pointer;
        }
      }
    }
  }
}
