@use '../../utilities' as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 80px;
  font-family: $primary-font;
  font-size: $font-m;
  color: $text-color-white;

  .icons-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    line-height: 0.7;

    .github {
      font-size: 1.6rem;
    }

    .codepen {
      font-size: 2rem;
    }
  }
}
