footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 80px;
  padding-right: 1rem;
  font-family: 'Gruppo', sans-serif;
  font-size: 1.2rem;
  color: #dde4dc;

  .icons-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    .github {
      font-size: 1.4rem;
    }

    .codepen {
      font-size: 1.7rem;
    }
  }
}
