@font-face {
  font-family: 'Bruno Ace';
  src: url('./assets/fonts/Bruno_Ace/BrunoAce-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gruppo';
  src: url('./assets/fonts/Gruppo/Gruppo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* different color now? */
  color: #dde4dc;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
